@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Montserrat:wght@100;300;400&family=Poppins:wght@200;300;500;700&family=Quicksand&family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #ddd6f3, #faaca8);
  min-height: 100vh;
  padding: 20px;
}

.ant-progress-text {
  font-size: 12px;
}

.ant-progress-outer {
  width: 80%;
  padding-top: 5px;
}

.ant-progress {
  display: flex;
  justify-content: space-between;
}

.display {
  display: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}